{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
			<nav class="docs-links" aria-label="Main navigation">
				{{ partial "sidebar/resources-menu.html" . }}
			</nav>
		</div>
		{{ if ne .Params.toc false -}}
		<nav class="docs-toc d-none d-xl-block col-xl-3" aria-label="Secondary navigation">
			{{ partial "sidebar/docs-toc.html" . }}
		</nav>
		{{ end -}}
		{{ with .Params.toc -}}
		<main class="docs-content col-lg-11 col-xl-9">
		{{ else -}}
		<main class="docs-content col-lg-11 mx-xl-auto">
		{{ end -}}
			<div class="showcase-meta d-flex justify-content-between">
        <span class="fw-bold">{{ .Title }} by {{ .Params.author }}</span>
				<span>
					{{ if .Params.types -}}
						<small class="types-single">{{ range $index, $type := .Params.types }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/resources/types/" | relURL }}{{ . | urlize }}/">{{ . | title }}</a>{{ end -}}</small>
					{{ end -}}
					<a class="view-website" href="{{ .Params.link }}" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
				</span>
			</div>
			{{ $image := index .Params.images 0 -}}
			{{ .Scratch.Set "src" $image -}}
			{{ .Scratch.Set "alt" .Title -}}
			{{ .Scratch.Set "class" "card-img-top m-0 p-0" -}}
			<div class="card my-3">
				{{ partial "main/img.html" . }}
			</div>
			<h1>{{ .Title }}</h1>
			<p class="lead">{{ .Params.lead | safeHTML }}</p>
			{{ partial "main/headline-hash.html" .Content }}
			{{ if .Params.topics -}}
				<h2>Topics</h2>
				<ul>
				{{ range $index, $type := .Params.topics }}<li><a href="{{ "/resources/topics/" | relURL }}{{ . | urlize }}/">{{ . | title }}</a></li>{{ end -}}
				</ul>
			{{ end -}}
      <!--
			<h2>Website</h2>
			<ul>
				<li><a href="{{ .Params.link }}" target="_blank">{{ strings.TrimPrefix "https://" .Params.link }}</a></li>
			</ul>
      -->
			<!-- {{ partial "main/edit-page.html" . }} -->
			{{ partial "main/docs-navigation.html" . }}
		</main>
	</div>
{{ end }}
