<a href="{{ .Destination }}" class="link"
  {{ with .Title }}
    title="{{ . }}"
  {{ end }}
  {{ if strings.HasPrefix .Destination "http" }}
    target="_blank"
  {{ end }}>{{ .Text }}

  {{ if strings.HasPrefix .Destination "https://wheelofheaven.github.io/rael"}}
  <sup>🕮</sup>
  {{ else if strings.HasPrefix .Destination "http" }}
  <sup>↗</sup>
  {{ else if strings.Contains .Destination "articles/" }}
  <sup>a</sup>
  {{ else if strings.Contains .Destination "intro/" }}
  <sup>i</sup>
  {{ else if strings.Contains .Destination "wiki/" }}
  <sup>w</sup>
  {{ else if strings.Contains .Destination "resources/" }}
  <sup>r</sup>
  {{ else }}
  {{ end }}
</a>
