{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">
        {{ if eq .CurrentSection .FirstSection }}
          {{ .Section | humanize }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </h1>
      <div class="text-center">{{ .Content }}</div>
      <div class="card-list">
        {{ $currentSection := .CurrentSection }}
        {{ range where .Site.RegularPages.ByTitle "Section" .Section }}
          {{ if not .Params.hidden }}
            <div class="card my-3">
              <div class="card-body">
                <b><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a></b>
                <p class="card-text">{{ .Params.lead }}</p>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </article>
  </div>
</div>
{{ end }}

