{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="intro/wheel-of-heaven/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">Creative Commons Attribution 4.0 International (CC-BY-4.0). <a href="https://github.com/wheelofheaven/site/blob/main/LICENSE" class="link">{{ i18n "see-here" }}</a></p>
    </div>
  </div>
</section>
{{ end }}


{{ define "sidebar-prefooter" }}
<div class="d-flex justify-content-start mb-3">
  <div class="bg-dots"></div>
</div>

  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>Fig.1 - Robert McCall's The Prologue and the Promise. (<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">Link</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">The working hypothesis 🔭</h2>
          <p>Some 25'000 years ago, the planet Earth was lifeless and barren. The Elohim, our celestial ancestors arrived and created life as we know it.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">A knowledge base ⚡️</h2>
          <p>This website and its adjacent resources serve as a hub to provide all necessary information and references to elaborate and bring alive the postulated working hypothesis.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">We at Wheel of Heaven 🚀</h2>
          <p>We at Wheel of Heaven are a collaborative effort to canonize, to contextualize and to foster research around the premise of extraterrestrial intelligent design.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "Deutsch" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>Abb.1 – Robert McCalls „Der Prolog und das Versprechen“ (übersetzt). (<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">Link</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Arbeitshypothese 🔭</h2>
          <p>Vor etwa 25'000 Jahren war der Planet Erde leblos und unfruchtbar. Die Elohim, unsere himmlischen Vorfahren kamen und schufen das Leben, wie wir es kennen.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Eine Wissensbasis ⚡️</h2>
          <p>Diese Website und ihre angrenzenden Ressourcen dienen als Drehscheibe, um alle erforderlichen Informationen und Referenzen zu liefern, um die postulierte Arbeitstheorie aufzubauen und zum Leben zu erwecken.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Wir bei Wheel of Heaven 🚀</h2>
          <p>Wir bei Wheel of Heaven sind ein kollaboratives Team, um die Forschung von außerirdischem intelligentem Design zu kanonisieren, zu kontextualisieren und zu fördern.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "Español" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>Fig.1 - El prólogo y la promesa de Robert McCall (traducido). (<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">Enlace</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">La hipótesis de trabajo 🔭</h2>
          <p>Hace unos 25'000 años, el planeta Tierra era sin vida y estéril. Los Elohim, nuestros antepasados celestes llegaron y crearon la vida tal como la conocemos.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Una base de conocimiento ⚡️</h2>
          <p>Este sitio web y sus recursos adyacentes sirven como un centro para proporcionar toda la información necesaria y las referencias para elaborar y dar vida a la teoría de trabajo postulada.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Nosotros en Wheel of Heaven 🚀</h2>
          <p>En Wheel of Heaven somos un esfuerzo de equipo colaborativo para canonizar, contextualizar y fomentar la investigación en torno a la premisa del diseño inteligente extraterrestre.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "Français" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>Fig.1 - Le prologue et la promesse de Robert McCall (traduit). (<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">Lien</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">L'hypothèse de travail 🔭</h2>
          <p>Il y a environ 25 000 ans, la planète Terre était sans vie et stérile. Les Elohim, nos ancêtres célestes sont arrivés et ont créé la vie telle que nous la connaissons.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Une base de conaissances ⚡️</h2>
          <p>Ce site web et ses ressources adjacentes servent de centre pour fournir toutes les informations et références nécessaires à l'élaboration et à la vie de la théorie de travail postulée.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Nous chez Wheel of Heaven 🚀</h2>
          <p>Chez Wheel of Heaven, nous sommes un effort d'équipe collaboratif pour canoniser, contextualiser et favoriser la recherche sur la prémisse de la conception intelligente extraterrestre.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "日本語" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>図1 - ロバート・マッコールの「プロローグと約束」(翻訳) 。(<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">リンク</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">作業仮説 🔭</h2>
          <p>約25 '000年前、惑星地球は活気がなく、不毛でした。 エロヒム、私たちの天の祖先が到着し、私たちが知っているように人生を創造しました。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">ナレッジベース ⚡️</h2>
          <p>このWebサイトとその隣接するリソースは、必要なすべての情報と参照を提供し、想定されている作業理論を生き生きとさせるためのハブとして機能します。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">私たちはホWheel of Heavenにいます 🚀</h2>
          <p>We At Wheel of Heavenは、地球外のインテリジェントなデザインの前提を中心に、CanONONIZE、文脈化、および研究を促進するための共同チームの努力です。</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "Pусский" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>Рис.1 - Пролог и обещание Роберта МакКолла (переведено). (<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">Связь</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Рабочая гипотеза 🔭</h2>
          <p>Около 25 000 лет назад планета Земля была безжизненной и бесплодной. Элохим, наши небесные предки прибыли и создали жизнь, как мы ее знаем.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">База знаний ⚡️</h2>
          <p>Этот веб -сайт и его прилегающие ресурсы служат центром для предоставления всей необходимой информации и ссылок на сложную и оживление теории постулированной рабочей.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Мы на небесах 🚀</h2>
          <p>Мы на Wheel of Heaven - совместная команда, усилия по канонизации, контекстуализации и развитию исследований в отношении предпосылки внеземного интеллектуального дизайна.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "中文" }}
  <section class="section container-fluid mt-n3 pb-3" style="padding-top: 0; padding-bottom: 0;">
    <div class="row justify-content-center">
      <figure>
        <img src="{{ "images/mccall_the_prologue_and_the_promise.jpg" | absURL }}" alt="mccall_the_prologue_and_the_promise.jpg">
        <figcaption>图 1 - Robert McCall 的序言和承诺（翻译）。(<a href="https://www.mccallstudios.com/the-prologue-and-the-promise/" class="link" target="_blank">关联</a>)</figcaption>
      </figure>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">工作假设 🔭</h2>
          <p>大约25000年前，地球毫无生气和贫瘠。 伊洛因（Elohim），我们的天祖先到达并创造了我们所知的生命。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">知识库 ⚡️</h2>
          <p>该网站及其邻近资源是提供所有必要信息和引用的枢纽，以详细说明并将其带入假定的工作理论。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">我们在天堂之轮 🚀</h2>
          <p>我们在天堂之轮是一项合作的团队努力，旨在鉴定，背景化和培养围绕外星智能设计的前提。</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}

{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
