{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.navbarSticky true -}}
<div class="sticky-top">
{{ end -}}

<div class="header-bar"></div>

<header class="navbar navbar-expand-lg navbar-light doks-navbar">
  <nav class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} flex-wrap flex-lg-nowrap" aria-label="Main navigation">

    <a class="navbar-brand order-0" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="42" height="42" viewBox="0 0 49 49" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,48.000000) scale(0.020000,-0.02000)" fill="currentcolor" stroke="currentcolor">
          <path d="M1155 2041 c-44 -26 -177 -103 -295 -171 -118 -67 -225 -129 -237 -137 l-23 -13 0 -330 c0 -182 -3 -330 -6 -330 -3 0 -35 16 -70 36 l-64 36 0 253 0 254 -30 -17 -30 -17 0 -377 0 -376 285 -164 c156 -89 285 -165 285 -168 0 -3 -29 -20 -65 -39 -77 -41 -47 -51 -304 98 -104 61 -192 111 -195 111 -3 0 -6 -17 -6 -37 l0 -38 308 -177 c169 -97 315 -180 324 -183 15 -6 199 95 516 281 l72 43 0 -79 0 -78 -221 -128 -220 -127 31 -18 c17 -11 34 -19 38 -19 4 0 149 83 322 183 l315 182 3 333 c1 197 6 332 12 332 5 0 36 -16 69 -35 l61 -36 2 -254 3 -255 33 20 32 20 0 374 0 374 -62 35 c-97 53 -502 288 -508 294 -3 2 2 9 10 13 8 5 38 23 66 39 l50 29 215 -124 c118 -68 217 -124 222 -124 4 0 7 18 7 39 0 27 -5 41 -16 45 -9 4 -153 85 -319 181 -166 96 -306 175 -312 175 -6 0 -136 -72 -289 -160 -153 -88 -282 -160 -286 -160 -5 0 -8 33 -8 74 l0 74 205 117 c262 150 246 139 207 159 -17 9 -35 16 -39 16 -4 0 -44 -22 -88 -49z m366 -183 c32 -18 59 -36 59 -39 0 -3 -35 -25 -77 -50 -43 -24 -133 -76 -201 -115 l-123 -72 33 -19 c18 -11 71 -41 116 -68 46 -26 86 -53 88 -60 3 -7 4 -42 2 -79 l-3 -66 -182 105 c-101 58 -186 105 -189 105 -4 0 -42 -20 -85 -45 -43 -25 -81 -45 -84 -45 -3 0 -5 35 -3 77 l3 77 120 69 c66 38 192 111 280 162 88 51 166 94 173 94 7 1 40 -14 73 -31z m-721 -338 c0 -126 2 -230 5 -230 3 0 57 30 121 67 l115 67 55 -30 c30 -16 59 -34 65 -40 8 -10 -63 -56 -318 -201 l-42 -24 -3 -94 -3 -94 -62 35 -63 35 0 334 0 333 58 36 c31 19 60 36 65 36 4 0 7 -103 7 -230z m763 76 c121 -70 434 -251 455 -264 9 -6 12 -30 10 -84 l-3 -75 -195 113 c-107 63 -198 114 -202 114 -5 0 -8 -60 -8 -134 l0 -135 -59 -35 c-32 -20 -61 -36 -65 -36 -3 0 -7 95 -8 212 l-3 212 -83 49 -84 49 64 39 c34 21 64 38 66 39 2 0 54 -29 115 -64z m-224 -342 l81 -46 0 -97 0 -97 -81 -47 c-44 -26 -86 -47 -92 -46 -7 0 -46 19 -87 43 l-75 44 -3 100 -3 101 78 45 c43 25 83 46 89 46 6 0 48 -21 93 -46z m428 -11 l63 -37 0 -332 0 -332 -64 -36 c-35 -20 -67 -36 -70 -36 -3 0 -6 104 -6 230 0 127 -2 230 -4 230 -2 0 -55 -30 -117 -66 l-114 -66 -63 34 c-35 19 -64 38 -65 41 -1 4 79 54 178 111 l180 104 3 96 c1 53 6 96 9 96 3 0 35 -17 70 -37z m-757 -295 l0 -213 80 -45 c44 -25 80 -47 80 -50 0 -3 -28 -22 -62 -42 l-62 -37 -46 25 c-25 13 -155 89 -290 167 l-245 142 -3 73 c-2 54 0 72 10 72 7 0 99 -50 203 -110 l190 -110 5 135 5 135 55 34 c30 19 61 35 68 35 9 1 12 -48 12 -211z m289 -143 c136 -78 156 -87 174 -76 11 7 49 29 84 48 l64 35 -3 -78 -3 -78 -73 -43 c-208 -123 -492 -283 -501 -283 -5 0 -37 16 -71 36 l-61 37 28 16 c15 9 106 62 201 116 94 55 172 102 172 105 0 3 -52 34 -115 69 l-115 65 0 79 0 79 33 -20 c17 -10 101 -59 186 -107z"/>
        </g>
      </svg>
    </a>

    {{ if (in .Site.Params.sections.sectionNav .Section) -}}
    <button class="btn btn-link order-0 ms-auto d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
    </button>
    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="header-bar"></div>
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ i18n "browse" }} {{ .Section  }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <aside class="doks-sidebar mt-n3">
          <nav id="doks-docs-nav" aria-label="Tertiary navigation">
            {{ partial "sidebar/docs-menu.html" . }}
          </nav>
        </aside>
      </div>
    </div>
    {{ end -}}


    <button class="btn btn-menu order-2 d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>
    <div class="offcanvas offcanvas-end border-0 py-lg-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="header-bar d-lg-none"></div>
      <div class="offcanvas-header d-lg-none">
        <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel"><a class="text-dark" href="{{ "/" | relLangURL }}">{{ .Site.Params.Title }}</a></h2>
        <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
      </div>
      <div class="offcanvas-body p-4 p-lg-0">
        <ul class="nav flex-column flex-lg-row align-items-lg-center mt-2 mt-lg-0 ms-lg-2 me-lg-auto">
          {{- $current := . -}}
          {{- $section := $current.Section -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name "Wiki") (eq $current.Section "wiki")) -}}
            {{- $active = or $active (and (eq .Name "Resources") (eq $current.Section "resources" "types" "functionalities")) -}}
            {{- $active = or $active (and (eq .Name "Articles") (eq $current.Section "articles" "contributors")) -}}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ps-0 py-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                  <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-main shadow rounded border-0" aria-labelledby="navbarDropdownMenuLink">
                  {{ range .Children -}}
                  {{- $active = eq .Name $current.Title -}}
                    <li>
                      <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
                    </li>
                  {{ end -}}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link ps-0 py-1{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end -}}
        </ul>

        {{- $showFlexSearch := .Site.Params.options.flexSearch }}
        {{- if $showFlexSearch }}
        {{- if and (isset .Site.Params.options "searchsectionsshow") (not (eq .Site.Params.options.searchSectionsShow "ALL")) }}
        {{- $showFlexSearch = or (eq (len .Site.Params.options.searchSectionsShow) 0) (in .Site.Params.options.searchSectionsShow .Section) (and .IsHome (in .Site.Params.options.searchSectionsShow "HomePage")) }}
        {{- end }}
        {{- end }}

        {{ if $showFlexSearch -}}
        <hr class="text-black-50 my-4 d-lg-none">
        <form class="doks-search position-relative flex-grow-1 ms-lg-auto me-lg-2">
          <input id="search" class="form-control is-search" type="search" placeholder="{{ i18n "search-text" }}" aria-label="{{ i18n "search-text" }}" autocomplete="off">
          <div id="suggestions" class="shadow bg-white rounded d-none"></div>
        </form>
        {{ end -}}

        <hr class="text-black-50 my-4 d-lg-none">
        <ul class="nav flex-column flex-lg-row">
          {{ range .Site.Menus.social -}}
            <li class="nav-item">
              <a class="nav-link social-link" href="{{ .URL | relURL }}" target="_blank">{{ .Pre | safeHTML }}<small class="ms-2 d-lg-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
        </ul>

        {{ if .Site.Params.options.darkMode -}}
        <hr class="text-black-50 my-4 d-lg-none">
        <button id="mode" class="btn btn-link" type="button" aria-label="Toggle user interface mode">
          <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
          <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
        </button>
        {{ end -}}

        {{ if eq .Site.Params.options.multilingualMode true -}}
        <hr class="text-black-50 my-4 d-lg-none">
        <div class="dropdown">
          <button class="btn btn-doks-light dropdown-toggle" id="doks-languages" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
            {{ .Site.Params.languageName }}
            <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end me-lg-2 shadow rounded border-0" aria-labelledby="doks-languages">

            <li><a class="dropdown-item current" aria-current="true" href="{{ .RelPermalink }}">{{ .Site.Language.LanguageName }}</a></li>

            <li><hr class="dropdown-divider"></li>

            {{ if .IsTranslated -}}
              {{ range .Translations }}
              <li><a class="dropdown-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }} </a></li>
              {{ end -}}
            {{ else -}}
              {{ range .Site.Languages -}}
                {{ if ne $.Site.Language.Lang .Lang }}
                  <li><a class="dropdown-item" rel="alternate" href="{{ .Lang | relLangURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a></li>
                {{ end -}}
              {{ end -}}
            {{ end -}}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://github.com/wheelofheaven/site/blob/main/CONTRIBUTE.md" target="_blank">Help Translate</a></li>
          </ul>
        </div>
        {{ end -}}

        {{ if eq .Site.Params.options.docsVersioning true -}}
        <hr class="text-black-50 my-4 d-lg-none">
        <div class="dropdown">
          <button class="btn btn-doks-light dropdown-toggle" id="doks-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" aria-label="Toggle version menu">
            <span class="d-none">Doks</span> v{{ .Site.Params.docsVersion }}
            <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end me-lg-2 shadow rounded border-0" aria-labelledby="doks-versions">
            <li><a class="dropdown-item current" aria-current="true" href="/docs/{{ .Site.Params.docsVersion }}/prologue/introduction/">Latest ({{ .Site.Params.docsVersion }}.x)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/docs/0.2/prologue/introduction/">v0.2.x</a></li>
            <li><a class="dropdown-item" href="/docs/0.1/prologue/introduction/">v0.1.x</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/docs/versions/">All versions</a></li>
          </ul>
        </div>
        {{ end -}}
      </div>
    </div>
  </nav>
</header>

{{ if eq .Site.Params.options.navbarSticky true }}
</div>
{{ end -}}

{{ if eq .Section "docs" -}}
<div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
    </nav>
  </aside>
</div>

{{ else if ne .CurrentSection .FirstSection -}}
<!--
<nav class="doks-subnavbar py-2 sticky-lg-top d-lg-none" aria-label="Secondary navigation">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} d-flex align-items-lg-center">
    <span class="navbar-text ms-0">{{ .Section | humanize }}</span>
    <button class="btn doks-sidebar-toggle d-lg-none ms-auto order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Toggle documentation navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>
  </div>
</nav>
-->

<div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}
